<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template is working</title>
</head>
<body>
    <h1>Welcome to text analyzer </h1>
    <form action='/analyze' method='get'>
     <textarea name="text"  style="margin: 0; height: 93px; width: 721px; "></textarea><br> <br>
     <input type="checkbox" name="removepunc">Remove Punctuation <br> <br>

     <input type="checkbox" name="fullupper">Full UpperCase <br> <br>
     <input type="checkbox" name="newlineremover">New Line Remove <br> <br>
     <input type="checkbox" name="extraspace">Extra Space Remove <br> <br>
     

     <button type="submit">Analyze Text</button>
     
</form>
</body>
</html>